//för animationer/keyframes
@use "base"; 

@keyframes changeColor {
    0% {
        color: red; 
    }
    50% {
        color: green; 
    }
    100% {
        color:blue; 
    }
} 

#animation1 {
    animation: changeColor 3s infinite alternate-reverse linear; 
}