//SCSS för färger och fonter 

$font-stack: "Josefin Sans", sans-serif;
$background-body: rgb(141, 129, 168);
$background-main: lighten($background-body, 20%); 
$accent-colour: rgb(238, 194, 0); 
$text-colour: darken($background-body, 50%); 
$darker-accent: darken($accent-colour, 10%); 

body {
    background-color: $background-body;
    font-family: $font-stack; 
}

main {
    background-color: $background-main; 
}

#searchBtn {
    background-color: $accent-colour;
    color:$text-colour; 
    padding: 5px;
    font-family: $font-stack;
    margin-top: 10px;
    margin-bottom: 15px; 
    font-size: 1.5em;
    border-radius:4px; 
    border: 1px solid $text-colour; 
    box-shadow: 0 10px #818181;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: $darker-accent;

}

#searchBtn:active {
    background-color: $darker-accent;
    transform: translateY(5px);
    box-shadow: 0 4px #515151;
}