//SCSS för layout
@use "base"; 
@use "animation"; 

h1 {
    text-align: center; 
    font-size:3em;
    padding:2%; 
} 

h2 {
    font-size: 2em; 
}

p {
    font-size: 1.25em; 
    max-width: 34em;
}

main {
    max-width: 850px;
    margin: 0 auto; 
    margin-top:7%; 
    border-radius: 4px;
} 

input {
    width:70%; 
    margin: 0 auto;
    border-radius:4px;
    padding:1.5%; 
    border: 1px solid #808080; 
    margin-left: 13.5%;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
} 

label {
    margin-left: 13.5%; 
    padding:1%; 
    font-size:1.25em; 
} 

#searchBtn {
    margin-left:50%; 
} 

//fär där informationen kommer att skrivas ut
#bookInfoContainer {
    padding:1.5%; 
} 

#bild {  
    display:block; 
    margin-left: auto; 
    margin-right: auto; 
    width:200px; 
}